/**/
@font-face {
  font-family: 'RozhaOne';
  src: url('../assets/RozhaOne-Regular.ttf') format('truetype'); 
}

.login {
  background-color: #AC637C;
  background-image: url('../assets/login-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.login-content {
  display: flex;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.login-container {
  background: rgba(255, 255, 255, 0);
  width: 400px;
  padding: 0px;
  border-radius: 20px;
  margin-top: 55px;
  margin-left: 250px;
  text-align: start;
}

.login-title {
  color:#ffffff;
  font-size: 48px;
  margin-bottom: -10px;
  font-family: 'RozhaOne';
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.login-label {
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  margin-top: 20px;
}

.login-input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid #D17B99;
  background: #FFE0EB;
  color: #AC637C;
  font-size: 16px;
}

.login-input:focus {
  outline: none;
  border-color: #f7c6d0;
}

.login-btn {
  margin-top: 20px;
  background: white;
  color: #D17B99;
  border: none;
  padding: 5px;
  width: 170px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'RozhaOne';
}

.login-btn:hover {
  background: #AC637C;
}

.login-footer {
  margin-top: 20px;
  color: #444;
}

.login-link {
  color: #FFE0EB;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}