/* Ensure header stays untouched */
.saved-page {
  background-color: #AC637C;
  background-image: url('../assets/Saved-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* Content below header */
.saved-content {
  text-align: center;
  padding: 20px;
}

/* Title */
.saved-title {
  text-align: center;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: 'RozhaOne', sans-serif;
  color: white;
}

/* Palette grid layout */
.saved-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 7px;
}

/* Each palette card */
.saved-card {
  background: #e0a5b9e1;
  border-radius: 10px;
  width: 200px;
  padding: 0px;
  text-align: center;
  word-wrap: break-word;
}

/* Palette name */
.saved-name {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

/* Color boxes row */
.saved-colors {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.saved-container {
  background: #DB9BB1;
  border-radius: 20px;
  height: 350px; /* fixed smaller height */
  overflow-y: auto; /* enable vertical scroll */
  padding: 0px;
  width: 800px; /* make container narrower */
  margin: 0 auto;
}


.saved-color {
  width: 25px;
  height: 80px;
  border-radius: 50px;
  cursor: pointer;
}

.saved-colors-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Note text */
.saved-note {
  background-color: #ffd7e4;
  color: #AC637C;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Empty state */
.no-saved {
  color: #888;
  font-size: 1rem;
  margin-top: 40px;
}

.copy-popup {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  
  background: #ffccde;
  color: #AC637C;
  
  padding: 12px 25px;
  border-radius: 12px;
  font-size: 20px;
  font-family: 'RozhaOne', sans-serif, Bold;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  animation: fadeInOut 1.2s ease forwards;
  z-index: 2000;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, 20px); }
  15% { opacity: 1; transform: translate(-50%, 0); }
  85% { opacity: 1; }
  100% { opacity: 0; transform: translate(-50%, 20px); }
}
